name: Build Python for Windows
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-remote: ['https://github.com/ader1990/cpython']
        python-tag: ['v3.9.7', 'v3.10.0rc2']
        config:
        - python-arch: x86
          python-dir: win32
        - python-arch: arm64
          python-dir: arm64
        - python-arch: x64
          python-dir: amd64

    steps:
      - name: Compile Python
        run: |
          git clone ${{ matrix.python-remote }}
          cd cpython
          git checkout tags/${{ matrix.python-tag }}
          PCbuild\build.bat -e -p ${{ matrix.config.python-arch }}

      - name: Create zip
        shell: cmd
        run: |
          mkdir cpython\PCBuild\${{ matrix.config.python-dir }}\lib
          mkdir cpython\PCBuild\${{ matrix.config.python-dir }}\include
          mkdir cpython\PCBuild\${{ matrix.config.python-dir }}\libs
          
          xcopy /i /e cpython\lib\*.* cpython\PCBuild\${{ matrix.config.python-dir }}\lib
          xcopy /i /e cpython\include\*.* cpython\PCBuild\${{ matrix.config.python-dir }}\include
          xcopy /i /e cpython\PC\pyconfig.h cpython\PCBuild\${{ matrix.config.python-dir }}\include
          xcopy.exe /y "cpython\PCBuild\${{ matrix.config.python-dir }}\python*.lib" "cpython\PCBuild\${{ matrix.config.python-dir }}\libs\"

      - uses: actions/upload-artifact@v1
        with:
          name: cpython-${{ matrix.python-tag }}-${{ matrix.config.python-arch }}
          path: cpython\PCBuild\${{ matrix.config.python-dir }}
